<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <%- include("partials/head")%>
  </head>
  <body>
    <%- include("partials/nav")%>

    <!-- main content -->
    <header class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img class="w-25"
      src="https://daniel-galvez-website.netlify.app/static/media/logo-amarillo_1.6734fd5d12aa9eb9075f.png"
      alt="logo DAniel Galvez"
    />
    <h1 class="display-1 my-5 text-touppercase fw-bold">Daniel Gálvez Coder</h1>
    <a href="/about" class="btn btn-primary w-25">About</a>
    </div>
    
  </header>
    <%- include("partials/footer")%>
  </body>
</html>
